Repository hsmalley/velvet-chains, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, site, ci, workflows, python, rust, release

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          [
            "README.md",
            "README.mdx",
            "docs/**",
            "BRIG_BRIEFING.mdx",
            "CAPTAINS_LOG.md",
            "VELVET-ENGINE-OPERATIONS-MANUAL.md",
          ]

site:
  - changed-files:
      - any-glob-to-any-file: ["pages/**", "styles/**", "public/**", "next.config.js"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

workflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

python:
  - changed-files:
      - any-glob-to-any-file:
          [
            "**/*.py",
            "pyproject.toml",
            "uv.lock",
            "scripts/**",
            "voidlight_*/*.py",
            "voidlight_*.py",
          ]

rust:
  - changed-files:
      - any-glob-to-any-file: ["voidlight_engine/**"]

release:
  - changed-files:
      - any-glob-to-any-file: ["RELEASE_*", "pages/releases/**", ".github/workflows/release.yml"]

adorn(ci): docs-only auto‑merge + triage cleanup (prettier)
  .github/labels.yml
  .github/workflows/docs-automerge.yml
  .github/workflows/pr-triage-cleanup.yml
Labels: ci, workflows

reconcile(ci): fix label sync inputs (yaml-file) and labels.yml format (list at root)
  .github/labels.yml
  .github/workflows/labels.yml
Labels: ci, workflows

should fix things
  .github/workflows/labels.yml
Labels: ci, workflows

reconcile(ci): unify lock PR creation to a single step (avoid duplicate create-pull-request runs)
  .github/workflows/voidlight-lock-ritual.yml
Labels: ci, workflows

ritual(ci): skip lock PR when no diff; add summary (prettier)
  .github/workflows/voidlight-lock-ritual.yml
Labels: ci, workflows

ritual(ci): write uv.lock.sha256 only when uv.lock actually changes
  .github/workflows/voidlight-lock-ritual.yml
Labels: ci, workflows

adorn(ci): deepen on-theme messaging for docs auto‑merge + label sync summaries
  .github/workflows/docs-automerge.yml
  .github/workflows/labels.yml
Labels: ci, workflows

reconcile(ci): remove merge fallback; rely on enable-pull-request-automerge (avoids input warnings)
  .github/workflows/docs-automerge.yml
Labels: ci, workflows

Fixed thread_rng to grow the bonds between us
  scripts/build_lore_json.py
  scripts/validate_lore.py
  voidlight_engine/src/main.rs
Labels: python, rust

Potential fix for code scanning alert no. 7: Workflow does not contain permissions
  .github/workflows/voidlight-ritual.yml
Labels: ci, workflows

Reforge clap parsing for codeql
  voidlight_engine/src/main.rs
Labels: rust

Updating Cargo Lock
  voidlight_engine/Cargo.lock
Labels: rust

🤖 Configure Renovate for broad automerge
  renovate.json
Labels: none

✨ Unfurl release relics with proper corsair precision
  .github/workflows/release.yml
Labels: ci, workflows, release

✨ Reforge the toolchain in Next 16 velvet
  .eslintignore
  .eslintrc.json
  .pre-commit-config.yaml
  CHANGELOG.md
  eslint.config.mjs
  next-env.d.ts
  package-lock.json
  package.json
  pages/releases/v0.2.1.mdx
  tsconfig.json
Labels: site, release

🌋 Hurl the voidlight reliquary into the star-forged bazaar
  .github/workflows/release.yml
  CHANGELOG.md
Labels: ci, workflows, release

🐍 Unleash the choreographer upon the moonlit PyPI salon
  .github/workflows/release.yml
  CHANGELOG.md
Labels: ci, workflows, release

💎 Raise the reliquary and choreographer to the 0.2.2 sigil
  pyproject.toml
  uv.lock
  voidlight_engine/Cargo.lock
  voidlight_engine/Cargo.toml
Labels: python, rust

👑 Crown the armada with the 0.2.4 sigil
  CHANGELOG.md
  pyproject.toml
  uv.lock
  voidlight_engine/Cargo.lock
  voidlight_engine/Cargo.toml
Labels: python, rust

pre-commit
  .pre-commit-config.yaml
Labels: none

fix(dco): use PR head SHA instead of synthetic merge commit SHA (#67)
  .github/workflows/voidlight-ritual.yml
Labels: ci, workflows

Potential fix for pull request finding
  components/LoreArchive.tsx
Labels: none

Fix vulnerable dependency chain
  components/LoreArchive.tsx
  package-lock.json
  package.json
Labels: none

Fix vulnerable dependency chain (#68)
  components/LoreArchive.tsx
  package-lock.json
  package.json
Labels: none

⚔️ security: resolve Dependabot alerts #61, #72, #73 with corsair precision
  package-lock.json
  package.json
Labels: none

⚔️ security: resolve brace-expansion and minimatch vulnerabilities
  package-lock.json
  package.json
Labels: none

⚔️ Patch and update dependencies, fix ESLint pre-commit hook
  .pre-commit-config.yaml
  ADMIRALTY_ARMOR.md
  package-lock.json
  package.json
Labels: none

chore: update pre-commit
  .pre-commit-config.yaml
Labels: none

chore: bump versions
  package-lock.json
  package.json
Labels: none

Update dependency @next/mdx to v16.3.7
  package-lock.json
Labels: none

Update dependency js-yaml to v5.4.2
  package-lock.json
  package.json
Labels: none

Update dependency next to v16.3.7
  package-lock.json
Labels: none

Update dependency postcss to v8.5.28
  package-lock.json
  package.json
Labels: none

Update npm devDependencies updates
  package-lock.json
Labels: none

Update dependency @next/mdx to v16.3.8
  package-lock.json
Labels: none

Update dependency python to 3.14
  .github/workflows/release.yml
  .github/workflows/voidlight-ritual.yml
Labels: ci, workflows, release

Update python Docker tag to v3.14
  .python-version
Labels: none

Update dependency react to v19
  package.json
Labels: none

Update dependency react-dom to v19
  package.json
Labels: none

Update github-actions updates
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/voidlight-lock-ritual.yml
  .github/workflows/voidlight-ritual.yml
Labels: ci, workflows, release
