Repository hsmalley/velvet-chains, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, site, ci, workflows, python, rust, release

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          [
            "README.md",
            "README.mdx",
            "docs/**",
            "BRIG_BRIEFING.mdx",
            "CAPTAINS_LOG.md",
            "VELVET-ENGINE-OPERATIONS-MANUAL.md",
          ]

site:
  - changed-files:
      - any-glob-to-any-file: ["pages/**", "styles/**", "public/**", "next.config.js"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

workflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

python:
  - changed-files:
      - any-glob-to-any-file:
          [
            "**/*.py",
            "pyproject.toml",
            "uv.lock",
            "scripts/**",
            "voidlight_*/*.py",
            "voidlight_*.py",
          ]

rust:
  - changed-files:
      - any-glob-to-any-file: ["voidlight_engine/**"]

release:
  - changed-files:
      - any-glob-to-any-file: ["RELEASE_*", "pages/releases/**", ".github/workflows/release.yml"]

Update npm devDependencies updates
  package-lock.json
  package.json
Labels: none

Lock file maintenance
  voidlight_engine/Cargo.lock
Labels: rust

Lock file maintenance
  package-lock.json
Labels: none

Update python Docker tag to v3.14
  .python-version
Labels: none

Lock file maintenance
  voidlight_engine/Cargo.lock
Labels: rust

Lock file maintenance
  package-lock.json
  uv.lock
Labels: python
